*{
    margin: 0;
    padding: 0;
    color: white;
}

.flex{
    display: flex;
    align-items: center;
}

.gap-2{
    gap: 20px;
}

main{
    background-color: rgb(11, 11, 11);
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.top{
    width: 100vw;
    justify-content: space-between;
   padding: 10px 0px;
}

.bottom{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0px;
    background-color: black;
    color: white;
}

.footer{
    justify-content: space-between;
}

.center{
    flex-direction: column;
    gap: 20px;

}

.search{
    background-color: rgb(150, 144, 144);
    padding: 15px 30px;
    border-radius: 30px;
}

input{
    background-color: rgb(150, 144, 144);
    width: 400px;
    border: none;
}

button{
    background-color: rgb(79, 77, 77);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover{
    border: solid 2px white;
}